.ListToDo {
  &__row {
    display: flex;
  }

  &__item {
    background-color: #f3f1f5;
    padding: 15px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;

    flex-grow: 1;
    margin-bottom: 20px;
  }

  &__delete {
    background-color: red;
    border: none;
    color: white;
    padding: 15px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    display: none;

    height: 22px;
  }

  &__row:hover &__delete {
    display: block;
  }
}
